{
  "client": {
    "host": "SERVER_ADDRESS",
    "port": "IP_ADDRESS",
    "username": "USERNAME"
   },
"ai": {
    "enabled": false,
    "apiKey": "YOUR_GROQ_API",
    "maxTokens": 150
   },
  "logLevel": [
    "error",
    "log",
    "debug"
  ],
  "action": {
    "commands": [
      "forward",
      "back",
      "left",
      "right",
      "jump"
    ],
    "holdDuration": 5000,
    "retryDelay": 5000
  }
}